/* CSS Document */
*{
	padding: 0px;
	margin:0px;
    
}

body{
	font-family: 'Open Sans', sans-serif;

}

img{
	
max-width: 100%;
  	
}

#wrapper{
    display: grid;
	grid-template-columns:1fr;

}


#banner{
  grid-column:1/2;
}


#bannerImage{
	
	position:absolute;
	top:0px;
    z-index:1;
    background: url(../images/background.png) no-repeat;	
	width:100%;
	
	height:700px;
    background-size: cover;
	
}

#mask{
	margin:0px;
	position:relative;
    z-index:2;
    background: rgba(30,29,68,0.7) ;
	
    width:100%;
	height:700px;
		
}

#nav{
	
	padding-left: 10%;
	padding-top:2%;
	padding-bottom:2%;
	background: #fff;
	opacity: 0.8;
	
		
}

#logo{

	display:inline-block;
	vertical-align: middle;
		
}

#button{

display:inline-block;
	
  
}

#nav a{
	text-decoration: none;
    color:#444a5a;
	font-size: 20px;
	transition: 0.4s;
}

#nav a:hover{
	
	color:#19E1E4;
	
	text-decoration-line: underline;
	
}

 #button li{
	 margin-left:2em;
	 display:inline;	
}

#portfolio ul{
    font-family: 'Baumans';
	font-size:90px;
	list-style: none;
	color:#08FBE3;
	text-decoration-line: underline;
	letter-spacing: 1em;
	text-align: left;
	opacity: 0.8;
	padding-left:10%;
	margin-top:100px;

}



#info{
	color:#000;
	text-align: left;
	margin-left: 70%;
	margin-bottom: 100px;
	padding-left: 20px;
	padding-top:20px;
	padding-bottom:20px;
	word-spacing: 0.5em;
	background: #08FBE3;
	opacity: 0.8;
	
}



.headline{

	grid-column:1/4;
	font-size:26px;
	font-weight:bolder;
	text-align: center;
	margin-bottom: 20px;
    color:#444764;
	
}


#gallery{
	background:#f8f4f4;	
}


.containerThree{
	
	display:grid;
	grid-template-columns:1fr 1fr 1fr ;
	padding:4% 10% 4% 10%;
    grid-gap:20px;
		
}


.containerTwo{
	display: grid;
	grid-template-columns:1fr 2fr ;
	padding:4% 10% 4% 10%;
	grid-gap:20px;
	
}


.content-wrap { 
padding: 0; 
position: absolute; 
text-align: center; 
width: 100%; 
top: 0; 
bottom: 0; 
vertical-align: middle; 
overflow: hidden; 
} 

.content-wrap h4.entry-title { 
display: table; 
height: 100%; 
width: 100%; 
margin:0; 
} 

	
	
.featured-image { 
display: table-cell; 
position: relative; 
transition: opacity .25s ease-in-out, background .25s ease-in-out; 
vertical-align: middle; 
z-index: 1; 
color: #fff; 
text-decoration: none; 
opacity: 0; 
padding: 10%; 
} 
	
	
.featured-image:hover { 
opacity: 0.9; 
color: #fff; 
background: rgba(0,0,0,0.8); 
} 


.sect_img { 

height: auto; 
overflow: hidden; 
} 

.sect1 { 
position: relative; 

grid-column:1/2;
grid-row:2/3;
	
} 

.sect2{
	position: relative; 
  
    grid-column: 1/2;
	grid-row:3/4;
}

.sect3{
	position: relative; 

    grid-column: 2/4;	
	grid-row:2/4;
}
	


.oversize{
	overflow: hidden;
	
}


#aboutMe{
	background:#ffffff;
	
}



#profile{
	
	grid-column:1/2;
    width:100%;
	overflow: hidden;
	margin-bottom:20px;
	
}


#desc{
    color:#9f9faf;
	grid-column:2/3;	
	padding-left:20px;
}

#desc p{
	text-indent:30px;
	font-size: 16px;
	line-height: 150%;
}

#contactMe{

	background: #1f1f26;
}


.headline_last {
	grid-column:1/3;
	font-size:26px;
	font-weight:bolder;
	text-align: center;
    color:#08FBE3;
	margin-bottom: 20px;
	
	
}

#infoContact{
	grid-column:1/2;
	background:#24242d;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	
}

#input{
	grid-column:2/3;
	padding-top:10px;
	margin-left:20px;	
	
}


textarea{
	width:98%;
	height:100px;
	margin-top:20px;
}

.textcolor{
	color:#A9A9BC;
	font-size:16px;
	line-height:2em;
}



#firstName{
	
	height:30px;
	width:46%;
	margin-top:20px;	
}


#surtName{
		
margin-left:4%;
	height:30px;
	width:46%;
	margin-top:20px;

}


button{
	background:#08FBE3;
	color:#000000;
	padding:1em 1.3em;
	border-radius:2px;
	margin-top:20px;
	transition-duration: 0.4s;
}

button:hover{
	background:#ffffff;
	color:#000000;
}
	
	::-webkit-input-placeholder{
		padding-left: 4%;
		color:#B6B8CC;
	
	}	


#socialImg{
	grid-column:1/2;
	
}
.styleImage{
	margin:10px 10px;
}

#socialImg a{
	text-decoration: none;
}
#socialImg li{
	list-style: square;
}

#socialImg{
	padding-top: 4%;
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}

.facebook  {
	
	background:url(../images/social_facebook.png) no-repeat;
	
}

.facebook:hover{
	background:url(../images/social_facebook_hover.png) no-repeat;
}

.twitter{
	background: url(../images/social_twitter.png) no-repeat;
}

.twitter:hover{
	background:url(../images/social_twitter_hover.png) no-repeat;
}
.linkedin{
	background:url(../images/social_linkedin.png) no-repeat;
}
.linkedin:hover{
	background:url(../images/social_linkedin_hover.png) no-repeat;
}
.behance{
	background:url(../images/social_behance.png) no-repeat;
}

.behance:hover{
	background:url(../images/social_behance_hover.png) no-repeat;
}
.pinterest{
	background:url(../images/social_pinterest.png) no-repeat;
}

.pinterest:hover{
	background:url(../images/social_pinterest_hover.png) no-repeat;
}

/* this is for mobile phones*/


@media only screen  and (max-width : 768px) {
	#gallery{
		
	}
	
	.containerThree{
		display:grid;
		grid-template-columns:1fr;	
        padding:2% 10%;
	    grid-gap:20px;	
	}
	
	.containerTwo{
	    display:grid;
		grid-template-columns:1fr;	
		 padding:2% 10%；
		
	}

	
	.headline{
		grid-column:1/2;

	}
	
	.headline_last{
		grid-column:1/2;
		grid-row:1/2;
	}
	.sect1{
		grid-column:1/2;
		grid-row:2/3;
	}
	
	.sect2{
		grid-column:1/2;
		grid-row:3/4;
	}
	
	.sect3{
		grid-column:1/2;
		grid-row:4/5;
		
	}
	
	
	#desc{
		grid-column:1/2;
		
	
	}
		
#info{
	color:#000;
	text-align: left;
	word-spacing: 0.5em;
	background: #08FBE3;
	
}
	
	
#input{
		grid-column:1/2;
		
		}

		
#firstName{
	height:30px;
	width:43%;
	margin-top:20px;	
      }
	
	
#surtName{
	margin-left:8%;
	height:30px;
	width:43%;
	margin-top:20px;

}
	
textarea{
	width:96%;
	height:100px;
	margin-top:20px;

        }	
}



/* this is for tablets*/


@media only screen and (max-width: 1024px) and (min-width: 769px)
{
	
		.containerThree{
		display:grid;
		grid-template-columns:1fr 1fr;	
        padding:2% 10%;
	    grid-gap:20px;	
	}
	
      .containerTwo{
	    display:grid;
		grid-template-columns:1fr 1fr;	
		padding:2% 10%；
		
	}
	
	
	.headline{
		grid-column:1/3;
	}
	
	.headline_last{
		grid-column:1/3;
	}
	
	.sect1{
		grid-column:1/3;
		grid-row:2/3;
	}
	
	.sect2{
		grid-column:1/3;
		grid-row:3/4;
	}
	.sect3{
		grid-column:1/3;
		grid-row:4/5;
	}


	
	#desc{
		grid-column:2/3;
	}
		
#info{
	color:#000;
	text-align: left;
	word-spacing: 0.5em;
	background: #08FBE3;
	
}
	
	
#input{
		grid-column:2/3;
		grid-row:2/3;
	    padding-left:20px;
		}

	
	
	
#subhead{
		grid-column:2/3;
	}
	
#firstName{
	height:30px;
    width:98%;
	margin-top:20px;
      }
	
	
#surtName{
	margin-left:0px;
	height:30px;
	width:98%;
	margin-top:20px;	

}
	
textarea{
	width:99%;
	height:100px;
	margin-top:20px;

}		
}